extends ./layout

block header
    include ./blocks/header

block contacts
    include ./blocks/contacts

block skills
    include ./blocks/skills

block history
    include ./blocks/history

block education
    include ./blocks/education

block osProjects
    include ./blocks/osProjects

block hobbies
    include ./blocks/hobbies

block yaMetrika
    include ./blocks/yaMetrika

block footer
    include ./blocks/footer
