.mui-row
    .mui-col-md-6.mui-col-sm-8.mui-col-xs-12
        h2.mui--text-display1 Contacts

        address
            a(href='https://goo.gl/maps/5AnoGamzYtL2') Nizhny Novgorod, Russia
            br

            a(href='tel:+79201118851') +7 (920) 111-88-51
            br

            a(href='mailto:me@r3nya.ru') me@r3nya.ru
            br

            a(href='https://github.com/r3nya') github.com/r3nya

    .mui-col-md-6.mui-col-sm-4.mui--hidden-xs
        img(src='https://pp.vk.me/c619325/v619325606/1291e/D8gIC4YfDmY.jpg', class='photo mui--pull-right')
