.mui-col-xs-12
    h2.mui--text-display1.mui-row Education / Qualifications
    .mui-row Lobachevsky State University of Nizhni Novgorod (2006 – 2011)
    .mui-row Specialist degree in "Applied Informatics in Economics"
