header.mui-panel
    .mui-container
        .mui-row
            h1.mui--text-center.mui--text-display3 Andrew Makarov
            br
            .mui--text-center.mui--text-dark-secondary
                h2 JavaScript/TypeScript/Node.js developer
