.mui-col-xs-12
    h2.mui--text-display1.mui-row Experience

    .mui-row
        ul
            li
                +job-title(
                    'Frontend lead',
                    'Hippo LLC',
                    'https://www.hellohippo.com/',
                    '(2016 – 2019)'
                )

                +projects([
                    {
                        text: 'web app,',
                        link: 'https://hellohippo.com/'
                    },
                    {
                        text: 'iOS app,',
                        link: 'https://itunes.apple.com/us/app/hippo-save-on-prescriptions/id1277793831?mt=8'
                    },
                    {
                        text: 'Android app',
                        link: 'https://play.google.com/store/apps/details?id=com.hippo.release'
                    }
                ])

                p As an architect and lead developer, I was responsible for web-frontend and both iOS and Android applications.

                p I designed all clients with performance in mind. For that reason, I introduced a dozen techniques like server-side rendering, code splitting, js bundle analysing.

                p On a daily, I kept in check that all our code is totally covered with Jest unit tests and end-to-end tests via Cypress.

                p Alongside with our product manager, I constantly used LaunchDarkly to improve user experience with A/B tests and find an ideal user flow.

                p On top of a client's facing side, I created and maintained an internal portal for support and customer success teams.

                +tech-stack('TypeScript, React.js / React Native / Node.js, Redux, MobX, Server Side Rendering, Webpack, PostCSS, Jest, Enzyme, Cypress')

            li
                +job-title(
                    'Senior Software Engineer',
                    'Modus Create',
                    'http://moduscreate.com/',
                    '(2016)'
                )

                +project('CalAmp Lender Outlook', 'http://www.calamp.com/')

                p Developed features for a device agnostic web app that allowed users to find and track the location of their vehicles through multiple devices.

                +tech-stack('Node.js, JavaScript (ES6, ES7, ESnext), React.js, Redux, Webpack, Sass, PostCSS')

            li
                +job-title(
                    'UI/Frontend developer',
                    'John Wiley and Sons',
                    'http://wiley.com',
                    '(2015 – 2016)'
                )

                +project('Wiley Online Library', 'https://onlinelibrary.wiley.com/')

                p As a frontend developer, my main objective was to help to make UX research easier Wiley Online Library, the John Wiley and Sons flagship product.

                p I conducted tons of A/B tests and helped to build better user-flow. Internally, it led to the complete architecture rework and better components structure.


                +tech-stack('HTML/CSS, JavaScript, Grunt, Sass, BEM, requireJS, Modernizr, Support IE8 and no-js')

            li
                +job-title(
                    'Senior Front End Engineer',
                    'Epic Software Development',
                    'http://epicsoftwaredev.com/',
                    '(2015 – 2016)'
                )

                +project('Clearpath 3.0', 'http://clearpathderm.com/')

                p I led a Frontend team in the next generation of med apps. Clearpath 3.0 field is dermatology.

                p Dermatologists and dermatopathologists could easily detect pathologies, review slide images, generate customized diagnostic reports, sign out cases for reimbursement, access complete biopsy logs etc.


                +tech-stack('HTML/CSS, JavaScript (ES6, ES7, ESnext), Webpack, Sass, CSS modules, PostCSS, OpenSeadragon')

            li
                +job-title(
                    'JS developer/Team leader',
                    'ISB Engineering',
                    'https://isb.one',
                    '(2015 – 2016) [part-time]'
                )

                p The large application allows users to administer and manage assets throughout the city of Moscow and the surrounding areas. The final solution was a device-agnostic app for web and tablets.

                +tech-stack('JavaScript (ES6, ES7, ESnext), React.js, Redux, Webpack, Apache Cordoda')

            li
                +job-title(
                    'JS/Node developer/DevOps',
                    'Clouds Technologies',
                    'http://cloudstechnologies.com/',
                    '(2015) [part-time]'
                )

                p I worked on a special panel for automation deployment their flagship product Smarty CRM, and an online organizer with collaboration tools.

                +tech-stack('Node.js, React.js, Ansible')

            li
                +job-title(
                    'Node.js/JS developer',
                    'Intersol LLC',
                    'http://intersol.pro',
                    '(2014 – 2015)'
                )

                +project('Audio Greetings', 'http://intersol.pro/portfolio/audio-greetings/index.html')

                p I was responsible for server-side rework. My main objective was a performance,  high through output and high availability.

                p I was able to make Audio Greetings to serve 20M+ daily unique users and support 1+Gb/s bandwidth of client's traffic. To achieve these results, I optimised audio files format, introduced CDN, automated new servers provisioning.

                +tech-stack('Node.js, JavaScript, jQuery, DB: Redis, MongoDB, Mysql, Express.js, Socket.io, Async, Jade, Handlebars, Gulp, Ansible')

            li
                +job-title(
                    'Linux Engineer',
                    'Flant',
                    'http://flant.ru',
                    '(2013 – 2014)'
                )

                p Setup and configuration web servers (Nginx, Apache/php-fpm, Unicorn, Thin) and load balancers (HAProxy)
                p Deploy some apps based on Ruby on Rails, Django, PHP
                p Automation deployment process using Ansible, Chef (Server, Solo)
                p Load testing and performance testing (AB, Yandex-tank)
                p Scripting on Shell and Python
                p Mysql performance tuning

            li
                +job-title(
                    'Junior Ruby on Rails developer',
                    'Delta-Zet',
                    'http://delta-zet.com',
                    '(2013 – 2014) [part-time]'
                )

                p Created simple sites using Ruby on Rails

                +tech-stack('Ruby on Rails 3/4, ActiveAdmin, Slim/Haml, Mongoid, Devise, Carrierwave, etc')

            li
                +job-title(
                    'Technical Support Engineer / Network engineer / Linux engineer',
                    'MFI Soft',
                    'http://www.mfisoft.ru',
                    '(2012 – 2013)'
                )

                p Linux administration, PostgreSQL tuning, shell scripting, installation of servers in data centers

                +tech-stack('CentOS Linux, PostgreSQL, Bash')
