.mui-col-xs-12
    h2.mui--text-display1.mui-row Experience

    .mui-row
        ul
            li
                +job-title(
                    'Senior Software Engineer',
                    'Hippo LLC',
                    'https://www.hellohippo.com/',
                    '(12/2016 – 04/2019)'
                )

                +responsibilities([
                    'TypeScript',
                    'React.js / React Native / Node.js',
                    'Redux',
                    'MobX',
                    'Server Side Rendering',
                    'Webpack',
                    'PostCSS',
                    'Jest',
                    'Cypress',
                    'Git',
                    'etc'
                ])
            li
                +job-title(
                    'Senior Software Engineer',
                    'Modus Create',
                    'http://moduscreate.com/',
                    '(10/2016 – 12/2016)'
                )

                +responsibilities([
                    'Node.js',
                    'JavaScript (ES6, ES7, ESnext)',
                    'React.js',
                    'Redux',
                    'Webpack',
                    'Sass',
                    'PostCSS',
                    'Git',
                    'etc'
                ])

            li
                +job-title(
                    'UI/Frontend developer',
                    'John Wiley and Sons',
                    'http://wiley.com',
                    '(03/2015 – 10/2016)'
                )

                +responsibilities([
                    'HTML/CSS',
                    'JavaScript',
                    'Grunt',
                    'Sass',
                    'BEM',
                    'requireJS',
                    'Modernizr',
                    'Support IE8 and no-js',
                    'Linux'
                ])

            li
                +job-title(
                    'Senior Front End Engineer',
                    'Epic Software Development',
                    'http://epicsoftwaredev.com/',
                    '(11/2015 – 08/2016)'
                )

                +responsibilities([
                    'HTML/CSS',
                    'JavaScript (ES6, ES7, ESnext)',
                    'Webpack',
                    'Sass',
                    'CSS modules',
                    'PostCSS',
                    'OpenSeadragon'
                ])

            li
                +job-title(
                    'JS developer/Team leader',
                    'ISB Engineering',
                    'https://isb.one',
                    '(06/2015 – 03/2016) [part-time]'
                )

                +responsibilities([
                    'JavaScript (ES6, ES7, ESnext)',
                    'React.js',
                    'Redux',
                    'Webpack',
                    'Apache Cordoda',
                    'Git'
                ])

            li
                +job-title(
                    'JS/Node developer/DevOps',
                    'Clouds Technologies',
                    'http://cloudstechnologies.com/',
                    '(01/2015 – 10/2015) [part-time]'
                )

                +responsibilities([
                    'Node.js',
                    'React.js',
                    'Ansible',
                    'Git'
                ])

            li
                +job-title(
                    'Node.js/JS developer',
                    'Intersol LLC',
                    'http://intersol.pro',
                    '(09/2014 – 03/2015)'
                )

                +responsibilities([
                    'Node.js, JavaScript',
                    'jQuery',
                    'Highload (Up to 1 Gbit)',
                    'DB: Redis, MongoDB, Mysql',
                    'Express 3/4, Restify, Socket.io, Async',
                    'Jade, Handlebars',
                    'Gulp, Bower',
                    'Deploy: Ansible',
                    'Git',
                    'Teaching students the basics of Node.js'
                ])


            li
                +job-title(
                    'Erlang developer',
                    'Mera',
                    'http://www.meranetworks.com',
                    '(03/2014 – 09/2014)'
                )

                +responsibilities([
                    'Erlang/OTP',
                    'Linux, Unix',
                    'LTE/CDMA/UMTS technology',
                    'ClearCase'
                ])

            li
                +job-title(
                    'Linux Engineer',
                    'Flant',
                    'http://flant.ru',
                    '(08/2013 – 03/2014)'
                )

                +responsibilities([
                    'Nginx, Apache/php-fpm, Unicorn, Thin',
                    'Deploy: Ruby on Rails, Django, PHP',
                    'HAProxy',
                    'Ansible, Chef (Server, Solo)',
                    'Load testing and performance: AB, Yandex-tank',
                    'Scripting on Shell, Python, PHP',
                    'Mysql performance tuning',
                    'Git'
                ])

            li
                +job-title(
                    'Ruby on Rails developer',
                    'Delta-Zet',
                    'http://delta-zet.com',
                    '(07/2013 – 03/2014) [part-time]'
                )

                +responsibilities([
                    'Ruby on Rails 3/4',
                    'ActiveAdmin, Slim/Haml, Mongoid, Devise, Carrierwave, etc',
                    'Deploy: Capistrano, Mina'
                ])

            li
                +job-title(
                    'Technical Support Engineer / Network engineer / Linux engineer',
                    'MFI Soft',
                    'http://www.mfisoft.ru',
                    '(04/2012 – 08/2013)'
                )

                +responsibilities([
                    'Linux administration',
                    'PostgreSQL tuning',
                    'Shell Scripting',
                    'Installation of servers in data centers'
                ])

            li
                +job-title(
                    'Engineer',
                    'Dkom',
                    'http://dkom.net',
                    '(12/2009 – 03/2012)'
                )

                +responsibilities([
                    'Support Windows Servers & Linux',
                    'Support \'Active Directory\' in Windows server',
                    'Repair PC',
                    'Programming the PBX',
                    'Configuring Samba/Ftp servers based on Linux',
                    'Configuring networks'
                ])
