.mui-col-xs-12
    h2.mui--text-display1.mui-row Hobbies / Interests

    .mui-row
        ul
            li Organization meetups in&nbsp;
                a(href="http://it52.info/") it52
            li Coordinator of&nbsp;
                a(href='http://nnrug.ru') Nizhny Novgorod Ruby programmers group
            li Coordinator of&nbsp;
                a(href='http://it52.info') Nizhny Novgorod JavaScript programmers group
            li Bicycle,&nbsp;
                a(href='http://www.last.fm/user/true_renya') Music,
                |  Cat ... :)
