.mui-col-xs-12
    h2.mui--text-display1.mui-row
        | Open Source contribution &nbsp;☃

    .mui-row
        ul
            +github-project-item(
                'Jest',
                'https://github.com/facebook/jest',
                'Delightful JavaScript Testing'
            )

            +github-project-item(
                'DefinitelyTyped',
                'https://github.com/DefinitelyTyped/DefinitelyTyped',
                'The repository for high quality TypeScript type definitions'
            )

            +github-project-item(
                'Create-React-app with TypeScript',
                'https://github.com/wmonk/create-react-app-typescript',
                'Create React apps using typescript with no build configuration'
            )

            +github-project-item(
                'React Native Google API Availability Bridge',
                'https://github.com/UCSD/react-native-google-api-availability-bridge',
                'React native bridge to Google availability api'
            )

            +github-project-item(
                'react-grid-system',
                'https://github.com/JSxMachina/react-grid-system',
                'A powerful Bootstrap-like responsive grid system for React'
            )

            +github-project-item(
                'react-avatar',
                'https://github.com/kirill3333/react-avatar',
                'Load, crop and preview avatar with ReactJS component'
            )

            li etc…
