.mui-col-xs-12
    h2.mui--text-display1.mui-row Projects

    .mui-row
        ul
            +project-item(
                'Hello Hippo - web app',
                'https://hellohippo.com/',
                'Web client with server side rendering based on React.js'
            )

            +project-item(
                'Hello Hippo - mobile app',
                'https://itunes.apple.com/us/app/hippo-save-on-prescriptions/id1277793831?mt=8',
                'Mobile client based on React-Native (iOS and Android)'
            )

            +project-item(
                'CalAmp Lender Outlook',
                'http://www.calamp.com/',
                'Developed features for a device agnostic web app that allowed users to find and track the location of their vehicles through multiple devices. Key technologies used: JavaScript React.js, Redux, Webpack, Sass, PostCSS'
            )

            +project-item(
                'Wiley Online Library',
                'http://onlinelibrary.wiley.com/',
                'Developed the front end of John Wiley and Sons flagship product, Wiley Online Library. I utilised SASS, jQuery, Grunt as main technologies. The final product support IE8+ browsers and a lot of devices (responsive display) without javascript - using css only.'
            )

            +project-item(
                'Clearpath 3.0',
                'http://clearpathderm.com/',
                'Developed ClearPath 3.0, the first digital pathology workflow solution for dermatologists and dermatopathologists. The app allows users to review digital whole slide images, generate customized diagnostic reports, Sign out cases for reimbursement, access a complete biopsy logs etc. Key technologies used: React.js / Redux / Sass / PostCSS /  OpenSeadragon / Webpack'
            )

            +project-item(
                'Moscow System of Business',
                'https://isb.one/',
                'The large application allows users to administer and manage assets throughout the city of Moscow and surrounding areas. The final solution was a device agnostic app for web and tablets. Key technologies used: React.js / Redux / Sass / PostCSS / Webpack. And build the mobile app (for iOS and Android) using Apache Cordova'
            )

            +project-item(
                'Panel for deployment the apps',
                'http://cloudstechnologies.com/',
                'I worked on special panel for automation deployment their flagship product Smarty CRM, and an online organizer with collaboration tools. Key technologies used include: Node.js, React.js, Ansible and Git'
            )

            li etc…

.mui-col-xs-12
    h2.mui--text-display1.mui-row
        | Open Source &nbsp;☃

    .mui-row
        ul
            +github-project-item(
                'Jest',
                'https://github.com/facebook/jest',
                'Delightful JavaScript Testing'
            )

            +github-project-item(
                'DefinitelyTyped',
                'https://github.com/DefinitelyTyped/DefinitelyTyped',
                'The repository for high quality TypeScript type definitions'
            )

            +github-project-item(
                'Create-React-app with TypeScript',
                'https://github.com/wmonk/create-react-app-typescript',
                'Create React apps using typescript with no build configuration'
            )

            +github-project-item(
                'React Native Google API Availability Bridge',
                'https://github.com/UCSD/react-native-google-api-availability-bridge',
                'React native bridge to Google availability api'
            )

            +github-project-item(
                'react-grid-system',
                'https://github.com/JSxMachina/react-grid-system',
                'A powerful Bootstrap-like responsive grid system for React'
            )

            +github-project-item(
                'react-avatar',
                'https://github.com/kirill3333/react-avatar',
                'Load, crop and preview avatar with ReactJS component'
            )

            li etc…
