.mui-col-xs-12
    h2.mui--text-display1.mui-row Technical Skills

    .mui-row

        ul
            +skill-item('JavaScript/Node.js/jQuery:', [
                    'Experienced with both client- and server-side javascript.',
                    'Templates: Jade (Pug), Handlebars, Mustache',
                    'Awesome experience with React.js and ecosystem (React Router, Redux, etc.)',
                    'React Native',
                    'Jest',
                    'Some experience with Angular.js, Ember.js, Socket.io, SockJS',
                    'NPM, Bower, Gulp, Grunt, Webpack, Yarn',
                    'Browserify, Yeoman',
                    'jQuery'
                ])

            +skill-item('HTML/CSS', [
                    'HTML5, CSS3 (flexbox, display grid, animations, perf tuning)',
                    'Bootstrap, Foundation, some grid systems based on flexbox :)',
                    'PostCSS, LESS, Stylus, SASS/SCSS'
                ])

            +skill-item('Testing:', [
                    'Mocha.js, Chai.js, Jest',
                    'Small experience using Rspec, Capybara and Selenium',
                ])

            +skill-item('Linux:', [
                    'Shell Scripting',
                    'Different deployment stacks (Ansible, Chef, Capistrano, Mina, etc)',
                    'Web-servers: Nginx, Apache, Thin, Unicorn, etc'
                ])

            +skill-item('SQL:', [
                    'Mysql, PostgreSQL. Performance optimizations, indexing'
                ])

            +skill-item('NoSQL:', [
                    'MongoDB, Redis'
                ])

            +skill-item('API:', [
                    'vk.com, instagram, fb.com, twitter, imgur, etc'
                ])

            +skill-item('Revision control software:', [
                    'Git, Mercurial, ClearCase, Subversion'
                ])

            +skill-item('And more', [
                    'HTTP & tcp/ip protocols'
                ])
