.mui-col-xs-12
    h2.mui--text-display1.mui-row Technical Skills

    .mui-row

        ul
            +skill-item('JavaScript/Node.js:', [
                    'Experienced with both client- and server-side javascript.',
                    'Templates: Jade (Pug), Handlebars, Mustache',
                    'Great experience with React.js and ecosystem (React Router, Redux, MobX, etc)',
                    'React Native',
                    'Gulp, Webpack'
                ])

            +skill-item('Testing:', [
                    'Jest, Cypress, Mocha.js, Chai.js'
                ])

            +skill-item('HTML/CSS:', [
                    'HTML5, CSS3 (flexbox, display grid, animations, perf tuning)',
                    'Bootstrap, Foundation',
                    'PostCSS, LESS, Stylus, SASS/SCSS'
                ])

            +skill-item('Linux:', [
                    'Shell Scripting',
                    'Different deployment stacks (Ansible, Chef, Capistrano, Mina, etc)',
                    'Web-servers: Nginx, Apache, Thin, Unicorn, etc'
                ])

            +skill-item('Other:', [
                    'HTTP & tcp/ip protocols',
                    'Public speaking'
                ])
